version: "3.8"

services:

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"

  backend:
    image: ramashashank/mean-backend:latest
    container_name: backend
    restart: always
    expose:
      - "8080"
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/test

  frontend:
    image: ramashashank/mean-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
